.Errormsg{
  width: 100%;
  padding: 20px;
  text-align: center;
  color:white;
  background: rgba(255, 97, 86, 1);
}

.Successmsg{
  width: 100%;
  padding: 20px;
  text-align: center;
  color:white;
  background: rgba(78, 186, 56, 1);
}
