.Errormsg{
  width: 100%;
  padding: 20px;
  text-align: center;
  color:white;
  background: rgba(255, 97, 86, 1);
  animation: shake 1.5s cubic-bezier(.36,.07,.19,.97) both;
}
.Successmsg{
  width: 100%;
  padding: 20px;
  text-align: center;
  color:white;
  background: rgba(78, 186, 56, 1);
  animation: shake 1.5s cubic-bezier(.36,.07,.19,.97) both;
}
@keyframes shake {
  10%, 90% {
    transform: translateY(-4px, 0, 0);
  }

  20%, 80% {
    transform: translateY(10px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translateY(-10px, 0, 0);
  }

  40%, 60% {
    transform: translateY(5px, 0, 0);
  }
}
