.bioarea {
  margin: 10px 0 10px 0;
}
.tagsField {
  list-style: none;
  padding: 0;
  width:auto;
  display: flex;
  flex-wrap: wrap;
  cursor: default;
justify-content:space-around;
}
.drop_zone {
  text-align: center;
  border: 3px dashed rgba(160, 179, 176, 0.25);
  border-radius: 10px;
  width: 250px;
  color: rgba(160, 179, 176, 0.75);
  height: 250px;
  user-select: none;
  /*line-height: 250px;*/
}
.fileinput {
  opacity: 0;
}
.tagField {
  user-select: none;
  decoration: none;
  margin: 0 5px 0 5px;
  flex-basis:0;
}
